<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Character profile</title>
  </head>
  <body>
    <h1>mmmmmm</h1>
    <div id="content">

    </div>
  </body>
  <script type="text/javascript">
    var protagData = <%- JSON.stringify(sendData) %>;
    if (protagData) {
      var contentBox = document.getElementById('content');
      let nameHeader = document.createElement('h2');
      let nameText = document.createTextNode(protagData.name);
      nameHeader.append(nameText);
      contentBox.append(nameHeader);

      let statsHeader = document.createElement('h3');
      statsHeader.innerHTML = 'Stats';
      let statsBox = document.createElement('div');
      statsBox.innerHTML = JSON.stringify(protagData.stats);
      content.append(statsHeader)
      content.append(statsBox)

      for (var slot of Object.keys(protagData.equipment) ) {
        let slotHeader = document.createElement('h3');
        slotHeader.innerHTML = slot;
        let slotBox = document.createElement('div');
        slotBox.innerHTML = JSON.stringify(protagData.equipment[slot]);
        content.append(slotHeader);
        content.append(slotBox);
      }

    }
  </script>
</html>
